$primary-color: #cc3366;
$normal-color:  #3399cc;
$succes-color:  #33cc99;
$info-color:    #cc6699;
$warning-color: #99cc66;
$danger-color:  #ffcc33;
$font:          #9999cc;
$default-color: #333366;
$default-font:  #333333;
$razmer-hirinu: 140px;
$small-hirinu:	100px;
$radius-r:100%;
$height-btn:33px;
$small-width:33px;
/*для ховера*/
$b-col:#ff6666;
$b-col2:#66ccff;
$b-col3:#99cc66;
$b-col4:#ff99cc;
$b-col5:#99ffcc;
$b-col6:#003300;
$b-col7:#999900;
$b-col8:#000033;

/*цвет для форм */
$form-default-color:#333333;
$form-width:100%;
$form-col:red;
$form-col-2:green;
$form-col-3:yellow;
$form-radis:15px;
